:root {
  font-size: 35px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
background:  #faf3e0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}
